.titulo{
    background-color:gainsboro;
    h1{
        font-size: 50px;
        color: #017A1C;
        font-family: "Caveat";
    }
}
.subtitulo{
    background-color: gainsboro;
    h2{
        font-size: 60px;
        font-family: "Bebas Neue";
    }
}